@page "/aboutMe"

<div class="aboutMeDiv container-sm" style="text-align:center; margin: 50px auto; width:600px;">
    <h3 style="font-weight:bold;">Who am I?</h3>
    <p style="font-size:17px;"> 
        I am a driven and detail-oriented person who loves problem solving and creative thinking. Working with computers
        have been a passion of mine ever since I can remember which is why I chose to study and broaden my knowledge in software development.<br /><br />
        I have been working with technologies such as Blazor webassembly, Unity 3D, SQL, ASP.NET Core and more.<br /> My love for game development
        has grown recently and that is what im mostly focusing on at the moment. My first game was a 2D space game where the protagonist fights for his survival, surrounded with
        enemies.<br /><br /> If you would like to learn more about me, press the button below for contact information!
    </p>
    <a href="/contact" class="button">Contact</a>
</div>

@code {

}
