@page "/contact"
<div class="contactDiv" style="text-align:center">
    <h3>Contact Information</h3>
    <p>Name: Issa Isabar<br />Phone: 0046735955955<br />Email-adress: Issa.Isabar@hotmail.com</p>
</div>
@code {

}
