@page "/contact"
<div class="contactDiv" style="text-align:center">
    <h3>Contact Information</h3>
    <p>Name: Issa Isabar<br />Phone: 0046735955955<br />Email: Issa.Isabar@hotmail.com<br /></p>
    <a class="fa fa-linkedin" style="font-size: 2em" href="https://linkedin.com/in/issa-isabar-a5a272192" target="_blank" aria-hidden="true"></a>
</div>
@code {

}
