@page "/"
@inject NavigationManager nav;

<PageTitle>Issa's Portfolio</PageTitle>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="container">
        <div class="image">
            <img src="/CV-Bild.jpg" alt="avatar" />
        </div>
        <div class="text">
            <h1 class="text-left">Hello, I'm Issa Isabar</h1>
            <p class="text-left">I am a 25 year old software developer who loves being creative and build fun stuff</p>
            <a href="#" class="button" >About Me</a>
        </div>
    </div>
</div>

@code {

    string? name;

    string className = "blackStyle";

    string realName = "Issa";

    void Ok()
    {
        if (name is not null)
        {
            if (string.IsNullOrWhiteSpace(name))
            {
                className = "default";
            }
            else
            {
                if (name.ToLower().Equals(realName.ToLower()))
                {
                    className = "correct";
                }
                else

                    className = "wrong";
            }
        }
        if (className == "correct")
        {

        }
    }
}